$color: #606060;
@import "sub";
.fullSlide {
  .slide-block {
    height: 300px;
    background-color: #aaa;
  }
}
body {
  #tabfirst-ntb {
    a {
      color: $color;
    }
  }
}
i {
  &.bg-ico {
    background-image: url(bg-ico.png);
    background-repeat: no-repeat;
  }
}