{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "stores": "./stores"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName":"antd",
        "style": "css"
      }
    ]
  ]
}